# dependencies
node_modules/

# Next.js build output
.next/
out/

# env files
.env
.env.local
.env.*.local

# debug logs
*.log
dev.log

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts
